<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page Title Extractor</title>
    <link rel="stylesheet" href="css/styles.css"
  </head>
  <body>
    <h1 class="red">index.ejs file <%= variable %></h1>
  </body>
</html>
