.container {
  padding-top: 40px;
  background-color: #EEF2F5;
  font-family: "Zen Kaku Gothic New", serif;
}

.history {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-color: #E8E8E8;
  padding: 20px 0;
}

.history-container {
  text-align: center;
  padding: 0 20%;
}

.title {
  display: inline;
  font-size: 15px;
}

.title-lg {
  fon-size: 1.5rem;
}

.title-bar {
  color: #FDEFEF;
  background-color: #091353;
  padding: 10px 300px !important;
  font-size: 25px;
  font-family: "Roboto", serif;
  padding: 5px 0;
}

.url {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

.url-lg {
  font-size: 1.5rem;
  font-weight: bold;
}
